<!-- <div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let recipe of getPaginatedRecipes()">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <ul class="pagination">
            <li class="page-item" *ngFor="let page of totalPagesArray()">
                <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
            </li>
        </ul>
    </div>
</div> -->
<p>{{ user.name }}</p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam nulla omnis culpa voluptas veritatis neque iusto debitis earum iste qui?
Veritatis nam, facilis tenetur facere maxime libero ipsam natus blanditiis.
