.table tr :is(td, th) {
    background-color: var(--cream-color) !important;
    
}


.filter {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: flex-start;
    margin-bottom: 1em;
    background-color:  var(--cream-color);
    color: black;
    padding: .5rem;
    border-radius: 5px;
    width: max-content;
    div {
        display: flex;
        gap: .5em;
    }
}

#actions {
    display: flex;
    gap: .5em;
}

.dialog {
    background-color: white;
    color: var(--black-color);
    padding: 1em;

}
