<div class="actions">
    <button class="btn" (click)="onSelectList('users')">Utilisateurs</button
    ><button class="btn" (click)="onSelectList('recipes')">Recettes</button
    ><button class="btn" (click)="onSelectList('lectures')">Cours</button>
</div>

<div class="list">
    <ec-users-list [users]="users" *ngIf="showUsersList"></ec-users-list>
    <ec-recipes-list [recipes]="recipes" *ngIf="showRecipesList" (actionOnRecipe)="onActionOnRecipe($event)"></ec-recipes-list>
    <ec-lectures-list [lectures]="lectures" *ngIf="showLecturesList"></ec-lectures-list>
</div>
