<!-- Contenu du corps de la page -->
<div class="full-width-bg">
    <!-- Couleur pour la première div -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alternate-section text-center">
                    <div class="text-section">
                        <h2>Ludique & Facile</h2>
                        <h3>Devenez un vrai Maître Chef !</h3>
                        <p>Cuisiner n'a jamais été aussi simple, devenez un vrai chef de votre cuisine !</p>
                    </div>
                    <div class="image-section">
                        <img src="/assets/cropped_dark_logo.png" alt="Image 1" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-width-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alternate-section text-center">
                    <div class="image-section">
                        <img src="/assets/cropped_logo.png" alt="Image 1" class="img-fluid" />
                    </div>
                    <div class="text-section">
                        <h2>Cuisine Abordable et Économique</h2>
                        <p>
                            Apprenez à cuisiner des plats délicieux sans casser votre tirelire. Des astuces et des conseils pour une cuisine
                            économique et savoureuse.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alternate-section text-center">
                    <div class="text-section">
                        <h2>Gain de Temps Précieux</h2>
                        <p>
                            Nos recettes faciles à suivre et nos cours structurés vous permettent d'apprendre rapidement et d'économiser du
                            temps en cuisine.
                        </p>
                    </div>
                    <div class="image-section">
                        <img src="/assets/cropped_dark_logo.png" alt="Image 1" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alternate-section text-center">
                    <div class="image-section">
                        <img src="/assets/cropped_logo.png" alt="Image 1" class="img-fluid" />
                    </div>
                    <div class="text-section">
                        <h2>Les Saisons des Fruits et Légumes</h2>
                        <p>
                            Tout savoir sur les périodes pendant lesquels vous devez les acheter, comment les cuisiner, les différentes
                            variétés, et beaucoup encore...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Liens vers les réseaux sociaux -->
<section class="full-width-bg py-5">
    <div class="container text-center">
        <h2>Suivez-nous sur les Réseaux Sociaux</h2>
        <p>Restez connecté pour les dernières mises à jour, recettes et astuces de cuisine en nous suivant sur nos réseaux sociaux :</p>
        <div class="social-links">
            <a href="#" class="btn btn-outline-primary mx-2"><i class="bi bi-facebook"></i></a>
            <a href="#" class="btn btn-outline-info mx-2"><i class="bi bi-twitter"></i></a>
            <a href="#" class="btn btn-outline-danger mx-2"><i class="bi bi-youtube"></i></a>
            <a href="#" class="btn btn-outline-dark mx-2"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</section>
