.container {
    //background-color: var(--cream-color);
    color: var(--black-color);
}
.btn-block,
.btn-block:active {
    width: 100%;
    background-color: gray;
    border-color: gray;
}
.chapter {
    background-color: #fff;
}
