.btn-close {
    margin-bottom: 0;
    margin-right: 0;
}

.navbar-brand {
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    flex: 1;
    text-align: center;
    position: relative;
}
.nav-link {
    color: #fff;
}
.nav-link.active,
.nav-link:hover,
.nav-link.show,
.dropdown-item:active,
.dropdown-item:hover {
    color: white; /* Couleur du texte pour le lien actif */
    background-color: var(--green-color); /* Couleur de fond pour le lien actif */
}

.admin,
.admin-active,
.admin:hover {
    background-color: red;
    color: white;
}
.admin:hover::before,
.admin-active::before {
    visibility: visible;
    width: 100%;
    background-color: red;
}
