.btn-close {
    margin-bottom: 0;
    margin-right: 0;
}

.nav-item {
    position: relative;
}
.nav-link {
    color: var(--pink-color);
}
.nav-link.active,
.nav-link.show,
.dropdown-item:active {
    color: white; /* Couleur du texte pour le lien actif */
    background-color: pink; /* Couleur de fond pour le lien actif */
}
.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--pink-color);
    visibility: hidden;
    transition: width 0.3s ease-in-out;
}
.nav-link:hover::before,
.nav-link.active::before {
    visibility: visible;
    width: 100%;
}
