<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Nouveau mot de passe</h3>
                    <form (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="password" class="form-label">Nouveau mot de passe</label>
                            <input type="password" class="form-control" id="password" formControlName="password" required />
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirmer le nouveau mot de passe</label>
                            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required />
                        </div>
                        <div class="error-text mb-3" *ngIf="password.errors?.passwordStrength">
                            Votre mot de passe doit être composé d'une majuscule, une minuscule, d'un chiffre et d'une longueur de 8
                            caractères minimum.
                        </div>
                        <button type="submit" class="btn btn-primary w-100" [disabled]="resetForm.invalid || isSubmitting">
                            {{ isSubmitting ? 'Envoi en cours...' : 'Réinitialiser le mot de passe' }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
