<div class="card m-5">
    <div class="container p-5">
        <h1>Contactez le support</h1>
        <p>N'hésitez pas à nous contacter pour toute question ou préoccupation. Remplissez le formulaire ci-dessous :</p>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="subject" class="form-label">Sujet</label>
                <input type="text" class="form-control" id="subject" formControlName="subject" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <input type="email" class="form-control" id="email" formControlName="email" />
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" formControlName="message" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="this.contactForm.invalid">Envoyer</button>
        </form>
    </div>
</div>
