<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">Erreur d'URL</div>
        <div class="card-body">
            <h5 class="card-title">L'URL entrée est incorrecte</h5>
            <p class="card-text">Veuillez vérifier l'URL que vous avez saisie et essayer à nouveau.</p>
            <a routerLink="/" class="btn btn-primary">Retourner à la page d'accueil</a>
        </div>
        <div class="card-footer text-muted">Erreur 404</div>
    </div>
</div>
