<!-- paragraph.component.html -->
<div class="container my-2">
    <div class="card paragraph">
        <div class="card-body">
            <div class="form-group">
                <h4>Paragraphe n°: {{ _paragraph.index }}</h4>
                <label for="content">Contenu du paragraphe :</label>
                <textarea
                    id="content"
                    class="form-control"
                    [(ngModel)]="_paragraph.content"
                    (ngModelChange)="onContentChange($event)"
                ></textarea>
            </div>
            <button class="btn btn-secondary" (click)="onDelete()">Supprimer le paragraphe</button>
        </div>
    </div>
</div>
