<mat-card class="lecture">
    <mat-card-header>
        <mat-card-title>{{ lecture.title }}</mat-card-title>
        <mat-card-subtitle>
            <div class="d-flex flex-row" style="justify-content: space-between; align-items: center">
                <span class="d-flex" style="justify-content: center; align-items: center">
                    <mat-icon
                        fontIcon="timer"
                        aria-hidden="false"
                        aria-label="Durée"
                        style="font-size: 1.2em; display: flex; justify-content: center; align-items: center"
                    ></mat-icon>
                    <span>
                        {{ lecture.duration | duration }}
                    </span>
                </span>
                <span class="d-flex" style="justify-content: center; align-items: center">
                    <mat-icon
                        fontIcon="local_fire_department"
                        aria-hidden="false"
                        aria-label="Durée"
                        style="font-size: 1.2em; display: flex; justify-content: center; align-items: center"
                    ></mat-icon>
                    <span>
                        {{ lecture.difficulty }}
                    </span>
                </span>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ lecture.description }}
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <mat-icon *ngFor="let r of rating" matTooltip="rating" fontIcon="star" aria-hidden="false" aria-label="rating"></mat-icon>
        <span>{{ lecture.rating }}</span>
        <button mat-raised-button (click)="goToLecturePage()">Suivre le cours</button>
    </mat-card-actions>
</mat-card>
