<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Mot de passe oublié</h3>
                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Adresse e-mail</label>
                            <input type="email" class="form-control" id="email" formControlName="email" required />
                        </div>
                        <button type="submit" class="btn btn-primary w-100" [disabled]="isSubmitting || isSuccess">
                            {{ isSubmitting ? 'Envoi en cours...' : isSuccess ? 'E-mail envoyé' : 'Envoyer mail de réinitialisation' }}
                        </button>
                        <div class="error-text mb-3" *ngIf="error">
                            {{ error }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
