.btn.btn-primary {
    background-color: var(--pink-color);
    color: #fff;
    border: var(--pink-color);
}

.btn.btn-primary:disabled {
    background-color: var(--pink-color);
    color: #fff;
}

.btn.btn-primary:active,
.btn.btn-primary:hover {
    background-color: #e5a3ad;
    color: #fff;
}
