<div class="container-fluid">
    <div class="row justify-content-center align-items-center card-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <i class="bi bi-person-lock bi-lg card-icon" viewBox="0 0 16 16"></i>
                    <div>
                        <h5 class="card-title">Contenu Réservé</h5>
                        <p class="card-text">Ce contenu est réservé aux membres connectés. Veuillez vous connecter pour y accéder.</p>
                        <a routerLink="/auth/login" class="btn btn-primary">Se connecter</a>
                        <p class="mt-2">
                            Vous ne possédez pas de compte?
                            <a routerLink="/auth/register">Inscrivez-vous ici !</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
