/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

:root {
    --border-radius: 15px;
    --mat-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --cream-color: #ffffe0;
    --pink-color: #ffb6c1;
    --green-color: #98fb98;
    --blue-color: #add8e6;
    --black-color: #121212;
}
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    //min-height: 100vh;
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: var(--cream-color);
}

.main-content {
    flex: 1;
    min-height: 100vh;
}

.bg-footer {
    background-color: #ff9aa8;
    color: #fff;
}

// .form {
//     box-shadow: var(--mat-box-shadow);
//     border-radius: var(--border-radius);
//     padding: 2em;
//     div {
//         display: flex;
//         flex-direction: column;
//         gap: 0.5em;
//     }
// }

/* Modifier la couleur des boutons */
.btn.btn-primary {
    background-color: #ffb6c1;
    border-color: #ffb6c1;
    color: #fff;
}

/* Assombrir lors du survol */
.btn.btn-primary:hover {
    background-color: #ff9aa8; /* Couleur plus sombre */
    border-color: #ff9aa8; /* Couleur plus sombre pour la bordure */
    color: #fff;
}
