<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="lectureForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="title" class="form-label">Titre</label>
                    <input type="text" id="title" class="form-control" formControlName="title" required />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" class="form-control" formControlName="description" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="duration" class="form-label">Durée estimée (en minutes)</label>
                    <input type="number" id="duration" class="form-control" min="0" formControlName="duration" required />
                </div>

                <div class="mb-3">
                    <label for="difficulty" class="form-label">Difficulté</label>
                    <input type="number" id="difficulty" class="form-control" min="1" max="5" formControlName="difficulty" />
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <button type="button" class="btn btn-primary" (click)="addChapter()">Ajouter un chapitre</button>
                    <button *ngIf="_lecture.chapters.length != 0" type="button" class="btn btn-danger" (click)="removeAllChapters()">
                        Supprimer tous les chapitres
                    </button>
                </div>

                <button
                    *ngIf="_lecture.chapters.length != 0"
                    type="button"
                    class="btn btn-primary btn-block mb-3"
                    (click)="toggleContent()"
                >
                    <i class="fa-solid" [ngClass]="{ 'fa-chevron-down': showContent, 'fa-chevron-right': !showContent }"></i>
                    {{ buttonText }}
                </button>
                <div *ngIf="showContent">
                    <!-- Ici les champs pour les chapitres en utilisant un formArray -->
                    <div formArrayName="chapters">
                        <div *ngFor="let chapter of _lecture.chapters; let i = index" class="mb-3">
                            <ec-chapter-form [index]="i" [chapter]="chapter" (deleteChapter)="removeChapter(i)"></ec-chapter-form>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="lectureForm.invalid">Enregistrer le cours</button>
                <div *ngIf="errors" class="error">{{ errors }}</div>
            </form>
        </div>
    </div>
</div>
